<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Blog</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{themify-icons/themify-icons.css}">
    <style>
        th, td {
            text-align: center;
        }
        .page-item {
            text-decoration: none;
            border: 1px solid #000000;
            margin-right: 5px;
        }
        .page-item.number:hover {
            color: black;
            background-color: #cccccc;
        }
        .page-item.number.active {
            color: black !important;
            background-color: #cccccc !important;
        }
    </style>
</head>
<body>
<form action="/blog" method="get">
    <input type="text" name="name" placeholder="tìm kiếm" th:value="${name}">
    <input type="submit" value="Tìm kiếm">
</form>

<a href="/blog/create" class="btn btn-secondary mb-3 mt-3">Thêm mới Blog</a>
<a href="/category/create" class="btn btn-secondary mb-3 mt-3">Thêm mới danh mục Blog</a>
<a href="/category" class="btn btn-secondary mb-3 mt-3">Xem danh sách danh mục Blog</a>


<table class="table">
    <thead>
    <tr>
        <th>STT</th>
        <th>Tên Tác giả</th>
        <th>Tiêu đề</th>
        <th>Nội dung</th>
        <th>Danh mục</th>
        <th>Điều chỉnh</th>
        <th>Xóa</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="blog, iterStat : ${blogList.content}">
        <td th:text="${iterStat.count}"></td>
        <td><a th:href="@{/blog/detail?id=__${blog.id}__}" th:text="${blog.authorName}"></a></td>
        <td th:text="${blog.title}"></td>
        <td th:text="${blog.content}"></td>
        <td th:text="${blog.category.name}"></td>
        <td><a th:href="@{/blog/edit?id=__${blog.id}__}" class="btn btn-primary">Edit</a></td>
        <td>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modelId"
                    th:attr="onclick=|getBlogInfo('${blog.id}', '${blog.authorName}')|">
                Delete
            </button>
        </td>
    </tr>
    </tbody>
</table>

<div class="text-center">
    <a class="page-item btn btn-dark"
       th:if="${blogList.hasPrevious()}"
       th:href="@{/blog(page = ${blogList.number - 1}, name = ${name})}">
        <i class="ti-angle-left"></i>
    </a>

    <a class="page-item number btn btn-dark"
       th:classappend="${pageNumber == blogList.number + 1} ? 'active' : ''"
       th:each="pageNumber : ${pageNumberList}"
       th:href="@{/blog(page = ${pageNumber - 1},name = ${name})}"
       th:text="${pageNumber}">
    </a>

    <a class="page-item btn btn-dark"
       th:if="${blogList.hasNext()}"
       th:href="@{/blog(page = ${blogList.number + 1}, name =${name})}">
        <i class="ti-angle-right"></i>
    </a>
</div>

<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Xóa sản phẩm </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/blog/delete">
                <div class="modal-body">
                    <input type="hidden" name="deleteId" id="deleteId">
                    <span>Bạn có chắc muốn xóa </span> <span id="deleteName"></span>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function getBlogInfo (id, name) {
        document.getElementById("deleteId").value = id;
        document.getElementById("deleteName").innerText = name;
    }
</script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>