<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<table class="table">
  <thead>
  <tr>
    <th>STT</th>
    <th>Tên tiêu đề sách</th>
    <th>Giá</th>
    <th>Số lượng</th>
    <th>Mượn</th>
    <th>Trả</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="bookDTO, iterStat : ${bookDTOList}">
    <td th:text="${iterStat.count}"></td>
    <td th:text="${bookDTO.title}"></td>
    <td th:text="${bookDTO.price}"></td>
    <td th:text="${bookDTO.quantity}"></td>
    <td>
      <a th:href="@{/book/borrow(id = ${bookDTO.id})}" class="btn btn-primary">Mượn</a>
      <p>Mã mượn sách: </p>
      <span th:text="${bookDTO.borrowCode}"></span>
    </td>
    <td>
      <form action="/book/giveBack">
        <input type="hidden" name="id" th:value="${bookDTO.id}">
        <input type="text" placeholder="Mã mượn sách" name="borrowCode">
        <input type="submit" class="btn btn-primary" value="Trả sách">
      </form>
      <div th:if="${msg}" th:text="#{${msg}}"></div>
    </td>
  </tr>
  </tbody>
</table>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>